* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




.header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.header-start {
    padding-top: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 300px;
    height: 150px;
}

.head-contacts {
    display: flex;
    padding-top: 40px;
}

.call {
    padding-top: 15px;
    width: 50px;
    height: 40px;
}

.navbar {
    margin-top: -30px;
}

.nav-button {
    text-align: center;
    color: white;
    padding-top: 10px;
}

/*/info-start*/
.p-inf {
    display: flow;
    text-indent: 40px;
}


/*/info-end*/


/*card*/
.card {
    width: 430px;
    height: 560px;
}

.arrow {

    width: 40px;
    height: 30px;
}


.columns-footer {
    width: 100%;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}

.column-footer {
    display: flex;
    width: 25%;
    height: auto;
}


.niz {
    margin: 10px 0;
    height: 100px;
    background-color: white;
}


.columns-niz {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


/*carousel-start*/

.d-bloc {
    margin-left: 350px;
    display: flex;
    width: 70%;
    height: 400px;
}


.carousel-inner {
    padding-top: -50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: #00b89c;
    border-radius: 50%;
    border: 5px solid #00b89c;

}


/*carousel-end*/


/* coment */
.columns-comment {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: auto;

}

.card-comment {
    margin-top: 70px;
    min-height: 200px;
    width: 40%;
    box-shadow: 10px 10px rgba(47, 60, 65, 0.75);

}

.card-h6 {
    font-size: 30px;
    font-weight: 500;
}

.card-p {
    /*font-size: 25px;*/
    font-weight: 400;
    margin-bottom: 1vw;
}

/* service */
.columns-service {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 50px 0 40px;
}

.column-service {
    width: 33%;
    height: 300px;
}

.service-img {
    padding-bottom: 20px;
}


/*room.html-start*/

.section-room {
    width: 75%;
    margin: 0 auto;
}

.room-title, .room-h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.uslugi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-room, .bathroom {
    width: 300px;
    align-content: space-evenly;
}


.li {
    font-size: 20px;
    /*margin: 15px 0 0 30px;*/
}

.room-p {
    margin: 50px 0 30px;
    font-size: 25px;
    text-indent: 40px;
}

.photos-of-room {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.room-1 {
    width: 30%;
    height: 300px;
    margin: 10px;
}

.p-room {
    margin-top: 40px;
    height: 220px;
    font-size: 40px;
    text-align: center;
}


/*room.html-end*/


/*album-start*/

.section-album {
    width: 80%;
    margin: 0 auto;
}

.album {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
    height: auto;

}

.album-img-1 {
    width: 93%;
    height: 450px;
    margin: 15px 5px;
}

.album-img {
    width: 45%;
    height: 300px;
    margin: 15px 5px;
}


/*album-end*/




/*media-screen*/

@media only screen and (max-width: 1000px) {
    .contacts{
        font-size: 12px;
    }
    .album-img, .album-img-1{
        width: 100%;
    }
    .d-bloc{
        margin-left: 130px;
    }
}

/*media-screen-end*/
