{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

    <section class="section-album">
        <br>
        <h1 class="album-h1">Фотогалерея</h1>
    <div class="album">
        <img src="{% static 'img/album/album-13.jpg' %}" alt="" class="album-img-1">
        <img src="{% static 'img/album/album-15.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-1.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/albom-2.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album21.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-3.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-4.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-5.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-6.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-7.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-8.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-9.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-10.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album12.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-17.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-16.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album-18.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album19.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album20.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album23.jpg' %}" alt="" class="album-img">
        <img src="{% static 'img/album/album24.jpg' %}" alt="" class="album-img">
    </div>

    </section>

{% endblock %}