{% load static from static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edemplaza</title>
</head>

<body>

<section>

    <div class="header">
        <div class="header-start">
            {#            <div class="header-lang">RU</div>#}
            {% if button == True %}
                <a href="{% url 'edem:index' %}">
                    <div class="button nav-button is-outlined is-black">Назад</div>
                </a>
            {% endif %}
        </div>
        <div style="margin-left: 120px" class="logo"><a href="{% url 'edem:index' %}"><img
                src="{% static 'img/icons/logopaint.png' %}"
                alt="logo"></a></div>
        <div class="head-end">
            <div class="head-contacts">
                <img src="{% static 'img/icons/call-outline.svg' %}" class="call" alt="">
                <div class="contacts">
                    <p>Связаться с нами</p>
                    <div class="" style="margin: -18px 20px 0 0">
                        <p>+99865 223-86-86</p>
                    </div>
                </div>
                <a href="https://t.me/Edem8686">
                    <div class="button is-black is-outlined is-size-6">Бронировать</div>
                </a>
            </div>
        </div>
    </div>



    {% if is_succes == True %}
        <nav style="text-decoration: none" class="navbar has-background-white-bis is-justify-content-space-around">
            <div class="nav-button is-size-5"><strong><a style="text-decoration:none;" href="{% url 'edem:index' %}"
                                                         class="has-text-black">ГЛАВНАЯ</a></strong></div>
            <div onclick="scrollToSection('Section1')" class="nav-button is-size-5"><strong><a
                    style="text-decoration:none;"
                    class="has-text-black">О
                ГОСТИНИЦЕ</a></strong></div>
            <div onclick="scrollToSection('Section2')" class="nav-button is-size-5"><strong><a
                    style="text-decoration:none;"
                    class="has-text-black">КОМНАТЫ</a></strong>
            </div>
            <div class="nav-button is-size-5"><strong><a style="text-decoration:none;" href="{% url 'edem:album' %}"
                                                         class="has-text-black">ФОТОГАЛЕРЕЯ</a></strong></div>
            <div onclick="scrollToSection('Section3')" class="nav-button is-size-5"><strong><a
                    style="text-decoration:none;"
                    class="has-text-black">СЕРВИС</a></strong>
            </div>
            <div onclick="scrollToSection('Section6')" class="nav-button is-size-5"><strong><a
                    style="text-decoration:none;"
                    class="has-text-black">КОНТАКТЫ</a></strong>
            </div>
        </nav>
    {% endif %}

</section>
{% block content %}
{% endblock %}



<!-- map -->
<section data-section="#" id="Section5">
    <div class="map" style="margin-bottom: -5px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391.13252974047253!2d64.4309567463635!3d39.7728837630255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f500607f10f60c3%3A0x4cff0a6c9cf2caae!2sEDEM%20PLAZA!5e0!3m2!1sru!2s!4v1697896822718!5m2!1sru!2s"
                width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- map-end -->

<!-- footer-start -->
<div class="footer" style="padding: 30px 0 10px;">
    <h3 class="title is-size-4" style="padding-left: 70px">Наши контакты</h3>
    <div class="columns-footer">
        <div class="column-footer">
            <img style="width: 30px;height: 30px; margin: 15px 10px 0 0"
                 src="{% static 'img/icons/navigate-circle-outline.svg' %}"
                 alt="">
            <p class="p footer-text is-size-5">200100 | Bukhara city | Uzbekistan <br> Islom Karimov </p>
        </div>
        <div class="column-footer">
            <img src="{% static 'img/icons/call-outline.svg' %}" style="width: 30px; height: 30px;" alt="">
            <p class="p is-size-5"><strong>+99865 223-86-86</strong></p>
        </div>
        <div class="column-footer">
            <img src="{% static 'img/icons/chatbox-outline.svg' %}" style="width: 30px;height: 30px;" alt="">
            <p class="p is-size-5"> edemplaza@mail.com</p>
        </div>
    </div>
</div>
<section id="Section6">
    <div class="niz">
        <div class="columns-niz">
            <div class="column-niz">
                <img src="{% static 'img/icons/business-outline.svg' %}"
                     style="width: 50px;height: 50px; padding-right: 14px;" alt="">
                <div class="">
                    <h2 style="color: black">HOTEL EDEM PLAZA</h2>
                    <p style="color: black">2023, official web-site</p>
                </div>
            </div>
            <div class="column-niz-inst">
                <img src="{% static 'img/icons/logo-removebg-preview.png' %}"
                     style="height: 120px;width: 250px; margin-bottom: 20px"
                     alt="">

            </div>
            <div class="column-niz has-text-centered">
                <p style="font-size: 20px; color: #000000">С РАДОСТЬЮ ЖДЁМ ВАС ВСЕХ</p>
                <a href=""><img src="{% static 'img/icons/logo-facebook.svg' %}" style="width: 30px;height: 30px;"
                                alt=""></a>
                <a href="https://www.instagram.com/edemplaza/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><img
                        src="{% static 'img/icons/logo-instagram.svg' %}" style="width: 30px;height: 30px;"
                        alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- footer-end -->
{#for-section-start#}
<script>
    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        section.scrollIntoView({behavior: 'smooth'});
    }
</script>
{#for-section-end#}


</body>

</html>